{% extends '::base.html.twig' %}
{%block body%}
<table class="table table-hover">
    <thead>
    <tr>
        <td><strong>Produit</strong></td>
        <td><strong>Quantitée</strong></td>
        <td><strong>Prix</strong></td>
        <td><strong>Date</strong></td>
    </tr>
    </thead>
    <tbody>
    {% for historical in historicals %}
        <tr>
            <td>{{ historical.product.name }}</td>
            <td>{{ historical.quantity }}</td>
            <td>{{ historical.price }}</td>
            <td>{{ historical.date.date }}</td>
        </tr>
    {% endfor %}
    <tbody>
</table>
{%endblock%}
