<thead>
    <tr>
        <td><strong>Produit</strong></td>
        <td><strong>Quantitée</strong></td>
        <td><strong>Prix</strong></td>
        <td><strong>Date</strong></td>
    </tr>
    </thead>