<thead>
    <tr>
        <td><strong>Image</strong></td>
        <td><strong>Nom</strong></td>
        <td><strong>Description</strong></td>
        <td><strong>prix</strong></td>
        <td><strong>Stock</strong></td>
        <td><strong>Actions</strong></td>
    </tr>