<thead>
    <tr>
        <td><strong>Utilisateur</strong></td>
        <td><strong>Produit</strong></td>
        <td><strong>quantitée</strong></td>
        <td><strong>prix</strong></td>
        <td><strong>date</strong></td>
    </tr>
    </thead>