.product
{
	border:1px solid #000;
	width: 300px;
	float: left;
	margin: 20px;
	text-align: center;
}

.product-name
{
	border-bottom: 1px solid #000;
	width: 300px;
}


.link_login
{
	margin: 10px;
}

.product-show
{
	border:1px solid #000;
	width: 500px;
	margin: 20px;
	text-align: center;
	font-size: 20px;
	margin-left: 300px;
}

.form-product
{
	margin-left: 300px;
}

#resultPayment
{
	text-align: center;
}